@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #bbb;
}


/* Menu Principal do Site*/ 

.menu ul {
    width: 100%;
    list-style: none;
    padding-left: 20%;
    background-color: #252525;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

.menu ul li a:hover {
    background-color: #429ef5;
}

/* Área de Cursos*/ 

.secao {
    text-align: center;
    padding: 5em 1em;
}

.cursos{
    display: inline-block;
    width: 30%;
    padding: 0 1%;
    text-align: left;
    margin-bottom: 5px;
}

.cursos img {
    width: 345px;
    height: 149px;
    padding: 0px;
    border-bottom: solid #c21010;
    margin-bottom: 5px;
}

.cursos h3{
    font-size: 25px;
    margin-bottom: 5px;

}

.cursos p{
    font-size: 15px;
    font-family: Arial;
    margin-bottom: 20px;
}

.botao  {
top:20px;
left:50px;
margin:0px;
padding:0px;
overflow: hidden;
        }

.botao a, .botao a:visited {  
font-family: bold 12px/24px arial, helvetica, sans-aerif;  
padding:4px;
text-decoration: none;
text-align:center;  
color:#fff;
background: #222 url('botao_link.gif') no-repeat 
center center;  
width:120px;  
height:30px;    
display:block;
border-bottom: solid #111;
    }

.botao a:hover { 
background: #c21010 url('botao_hover.gif') no-repeat
center center;
border-bottom: solid #9c0606;
color:white;
               }

#video-frame{
    text-align: center;
    vertical-align: middle;
}

#video-frame iframe{
  width: 850px;
  height: 500px;
  margin: 80px;
}



/* Sobre*/ 

.uni{
    padding: 5px 40px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    color: white;
}

#logo{
    text-align: center;
    width:10%;
    display: inline;
    margin-left: 400px;
}

#t1{
  text-align: center;
  color: Black;
}


/* Área de contato*/ 

form{
font-size: 16px;
border: solid #000;
background: #555;
max-width: 500px;
margin-top: 5em;
padding: 0 10px 10px 10px;

}

#contato{
color: #fff
}

input, textarea{
margin-top: 20px;
width: 474px;
padding: 10px;
}

.enviar input {
background-color: #069;
height: 40px;
width: 150px;
font-weight: bold;
border-radius: 5px;
webkit-border-radius: 5px;
moz-border-radius: 5px;
border: 1px solid;
color: #FFF;
cursor: pointer;
}

.enviar input:hover{
background: #078;
}

textarea {
width: 474px;
height: 120px;
line-height: 20px;
}

/* Rodapé do Site*/

#final1 {
	background-color: #000;
	height: 50px;

} 

#final1 h2{
	color: #444;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
}

#final1 h2 a {
	text-decoration: none;
	color: #888;
}

#final2 {
	background-color: #000;
	height: 50px;
	margin-top: 139px;

} 

#final2 h2{
	color: #444;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
}

#final2 h2 a {
	text-decoration: none;
	color: #888;
}

#final3 {
	background-color: #000;
	height: 50px;
	margin-top: 80px;

} 

#final3 h2{
	color: #444;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
}

#final3 h2 a {
	text-decoration: none;
	color: #888;
}